*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(src/images/Main-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    padding-left: 10px;
    display: flex;
}
#sidebar{
    position: fixed;
    background-color:rgba(0, 0, 0, 0.533);
    width: fit-content;
    height: 100%;
    width: 264px;
    padding: 0px 15px 0px 15px ;
    flex-wrap: nowrap;
    #sideitems{
        padding: 15px 20px 15px 20px;
        color: white;
        transition: all 0.28s;
        font-size: 21px;
    }
    #sideitems:hover{
        color: rgb(129, 162, 229);
        font-size: 22px;
        // padding: 15px 20px 15px 20px;
        background-color: rgb(19, 43, 83);
        border-radius: 8px;
    }
}
#navbar{
    position: fixed;
    width: 100%;
    padding-right: 20px;
    background-color:rgba(0, 0, 0, 0.533);
    overflow: hidden; 
    top: 0; 
}
aside{
    display: flex;
    margin-top: 97px;
}
#outlet{
    margin-left: 260px;
}
.homecontent{
    display: flex;
}
#homecontainer{
    margin-left: 50px;
}
#homecontent-h1{
    padding: 20px 20px 0px 20px ; 
    margin-right: 40px;
}
#users{
    margin-bottom: 20px;
    color: white;
    border-radius: 12px;
    height: 180px;
    width: 500px;
    padding: 15px 25px 0px 30px ;
    background-image: url(src/images/Users.png);
    background-repeat: no-repeat;
    background-size: cover;
    span{
        padding: 3px 5px 5px 3px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.533);
    }
}
#orders{
    @extend#users;
    background-image: url(src/images/Orders.png)
}   
#products{
    @extend#users;
    background-image: url(src/images/Products.png);
    margin-right: 60px;
}
#reviews{
    @extend#users;
    width: 550px;
    background-image: url(src/images/Reviews.png);
}

#homecontent-h2{
    margin-top: 17px;
    div{
        color: white;
        padding: 30px 50px 50px 50px ;
        background-image: url(src/images/Sales.png);
        height: 385px;
        width: 550px;
         border-radius: 12px;
    }
    span{
        margin-left: 1px;
        color: rgb(8, 206, 8);
        font-size: 20px;
    }
}
#homecontent-h3{
    display: flex;
    margin-left: 20px;
}